#
# ignore irrelevant files
#

# data directories
/**/data
/**/input_image

# python temp files
*.pyc

# vim temp files
*.vim
*.swp

# image list file
*.txt

# image types
*.exr
*.tiff
*.jpg
*.png

# zip files
*.zip
